{% load static %}

{% block styles %}

<link rel="stylesheet" href={% static 'css/banner.css' %}>
{% endblock %}

<div class="slideshow-container_">
    <h1>Find a best offer that fits your budget.</h1>
    <h5>Don't miss</h5>
    <h5>Want to Post your Company Offers? </h5> 
    <a href="{% url 'aboutus' %}" id="v_btn" class="btn btn-dark btn-sm">
        <span class="noselect link1">Send Us</span>
        <div id="circle"></div>
    </a>


    <div id="social-platforms" style="display:flex; justify-content:center; margin-top:20px; !important">

        <a class="social-icon_" href="#" style="width: 160px;"><i
                class="fa fa-facebook"></i><span class="tag_">Facebook</span></a>
        <a class="social-icon_" href="#" style="width: 160px;"><i
                class="fa fa-instagram"></i><span class="tag_">Instagram</span></a>
        <a class="social-icon_" href="#" style="width: 160px;"><i
                class="fa fa-whatsapp"></i><span class="tag_">WhatsApp</span></a>
    </div>




</div>