{% extends 'offers/base.html' %}
{% load static %}
{% load social_share %}

{% block content %}

{% include 'offers/navbar.html' %}
<div class="main-container">
    <div class="wrapper">
        <div class="product-img">
            <img id="geeks" src="{{offer_detail.image_url}}">
        </div>

        <script>
            document.write('<a href="' + document.referrer + '"><i class="fa fa-arrow-left"></i></a>');
        </script>

      
        <div class="product-info">
            <div class="product-text">
                <h1>Property Name - {{offer_detail.property_name}}</h1>
                <h2>location - {{offer_detail.area}}</h2>
                <div class="social-media"> 
                    <img src={% static 'image/facebook.png' %} style="width: 20px; height: 20px;">{% post_to_facebook request.path "Share via Facebook"%} <br>
                    <img src={% static 'image/whatsapp.png' %} style="width: 20px; height: 20px;">{% post_to_whatsapp request.path  "Share via Whatsapp" %} <br>
                    <!-- <i class="fa fa-telegram"></i>{% post_to_telegram "Share via Telegram" offer_detail.slug %} <br> -->
                </div>

                <div class="detail">
                    <table>
                        <tr>
                            <td class="t-title"><i class="fa fa-phone"></i>Contact No</td>
                            <td class="t-info">: &nbsp; {{offer_detail.contact_number}}</td>
                        </tr>
                        <tr>
                            <td class="t-title"><i class="fa fa-list-ul"></i>Category</td>
                            <td class="t-info">: &nbsp; {{offer_detail.category}}</td>
                        </tr>
                        <tr>
                            <td class="t-title"><i class="fa fa-globe"></i>Property Link</td>
                            <td class="t-info">: &nbsp; <a href="{{offer_detail.url}}">Click to Visit</a></td>
                        </tr>
                    </table>
                </div>

                

                <p class="detail">
                    <span style="font-weight: bold;">Description</span> <br> 
                    <p class="detail-d">
                        {% autoescape off %}{{offer_detail.description}}{% endautoescape %} <br>
                    </p>
                    
                </p>
                <hr>

                <div class="date-section">
                    <h6>date Published -{{offer_detail.date_published}} <br>
                        date Expires -{{offer_detail.date_expired}} </h6>
                </div>
            </div>


        </div>

    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content img01" id="img01">

    </div>
</div>



{% endblock content %}