{% extends 'offers/base.html' %}
{% load social_share %}

{% block content %}


<div class="main-container">
    <div class="wrapper">
        <div class="product-img">
            <img src="{{offer_detail.image_url}}">
        </div>
        <a href="{% url 'home' %}"><i class="fa fa-arrow-left"></i></a>
        <div class="product-info">
            <div class="product-text">
                <h1>Property Name - {{offer_detail.property_name}}</h1>
                <h2>location - {{offer_detail.area}}</h2>
                <p>
                    <div class="whatsapp-this">
                        <a href="{{ whatsapp_url }}" target="_blank">{{whatsapp}}</a>
                    </div>

                    {% post_to_facebook offer_detail.slug %}
                    <i class="fa fa-telegram">{% post_to_whatsapp offer_detail.slug "" %}</i>
                    {% post_to_telegram offer_detail.slug "" %}

                </p>
                <p class="detail">
                    Contact No - {{offer_detail.contact_number}}<br>
                    Category - {{offer_detail.category}}<br>
                    Property Link- - <a href="{{offer_detail.url}}">{{offer_detail.url}}</a><br>
                    Description - {{offer_detail.description}} <br>
                </p>

                <div class="date-section">
                    <h6>date Published -{{offer_detail.date_published}} <br>
                        date Expires -{{offer_detail.date_expired}} </h6>
                </div>
            </div>


        </div>

    </div>
</div>


{% endblock content %}