

/* Slideshow container */

.slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
    text-align: center;
    transition: all 0.6s ease;
}



@media only screen and (max-width: 900px) {
   
    .slideshow-container {
        
        max-height: 200px;
        min-height: 200px;
        
    }
}



h1{
    text-align: center;
    max-width: 70%;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    line-height: 1.1em;
}


.fa-facebook{
    color: #3b5998 !important;
    opacity: unset !important;
}

.fa-instagram{
    opacity: unset !important;
    color: #c13584 !important;

}

.fa-whatsapp{
    opacity: unset !important;
    color: #128c7e !important;

}


@media all and (max-width: 900px) {
   
    a.btn.btn-icon{
        display: block;
    }
  }

