*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8e0b3;
}

img {
    width: 100%;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #f8e0b3;
}

/* 
* Design by Robert Mayer:https://goo.gl/CJ7yC8
*
*I intentionally left out the line that was supposed to be below the subheader simply because I don't like how it looks.
*
* Chronicle Display Roman font was substituted for similar fonts from Google Fonts.
*/

.wrapper {
    height: 80%;
    width: 70%;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    background-color: white;
    align-items: center;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
}

a, a:hover, a:active {
    text-decoration: none;
}

a .fa {
    font-size: 30px;
    color: #0d1a1f;
    margin: 0.3rem;
    padding: 0.5rem;
    opacity: 0.7;
    font-weight: 50;
}

a .fa:hover {
    background-color: #aeafaf;
    opacity: 0.6;
    border-radius: 50%;
}

.product-img {
    float: left;
    height: 100%;
    width: 50%;
    background-color: var(--card-bg-color);
}

.date-section h6 {
    color: #474747;
    bottom: 0;
    position: absolute;
    text-transform: capitalize;
    font-family: 'Bentham', serif;
    right: 20px;
}

.product-img img {
    border-radius: 7px;
    transform: translate(-5rem, 2rem);
    height: 100%;
    width: 100%;
}

.product-info {
    float: left;
    height: 100%;
    width: 50%;
    border-radius: 0 7px 10px 7px;
}

.product-text {
    height: 90%;
    width: 100%;
    position: relative;
}

.product-text h1 {
    margin: 0 18px;
    /* padding-top: 52px; */
    font-size: 34px;
    color: #474747;
}

.product-text h1, .product-price-btn p {
    font-family: 'Bentham', serif;
}

.product-text h2 {
    margin: 0 18px;
    font-size: 19px;
    font-family: 'Bentham', serif;
    font-weight: 400;
    text-transform: capitalize;
    color: #585757;
}

.product-text p {
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
}

.detail {
    margin: 0 28px;
}

.product-price-btn {
    margin-right: 50px;
    margin-top: 25px;
}

.product-price-btn p {
    height: 50px;
    font-family: 'Trocchi', serif;
    font-size: 18px;
    font-weight: lighter;
    color: #474747;
    float: left;
}

.product-price-btn span {
    height: 30px;
    font-family: 'Suranna', serif;
    font-size: 34px;
}

.product-price-btn button {
    float: right;
    height: 30px;
    margin-top: 2%;
    width: 176px;
    box-sizing: border-box;
    border: transparent;
    text-align: center;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--dark-letter-color);
    background-color: var(--main-bg-color);
    cursor: pointer;
    outline: none;
}

.editable {
    margin-right: 50px;
    float: right;
    margin-top: 15px;
}

@media screen and (max-width: 1000px) {
    .product-price-btn p {
        float: unset;
        width: 100%;
        text-align: center;
    }
    .product-price-btn {
        margin: unset;
        padding: unset;
        width: 100%;
    }
    .product-price-btn button {
        float: unset;
        justify-content: center;
        margin: auto;
        padding: unset;
    }
}

@media screen and (max-width: 800px) {
    .main-container {
        align-items: unset;
    }
    .wrapper {
        height: 80%;
        width: 90%;
        margin-top: 15px;
        border-radius: 7px 7px 7px 7px;
        /* VIA CSS MATIC https://goo.gl/cIbnS */
        -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    }
    .product-img {
        float: none;
        border-radius: 7px 7px 0 0;
        height: 70%;
        width: 100%;
    }
    .product-img img {
        border-radius: 7px 7px 0 0;
        transform: translate(0, 0);
        height: 100%;
    }
    .product-info {
        float: none;
        height: 70%;
        width: 100%;
        border-radius: 0 0 10px 7px;
        background-color: #ffffff;
    }
    .product-price-btn p, .date-section h6 {
        float: unset;
        width: 100%;
        text-align: center;
    }
    .product-price-btn {
        margin: 0;
        width: 100%;
    }
    .product-price-btn button, .date-section h6 {
        float: unset;
        justify-content: center;
        margin: auto;
        padding: 0;
        position: unset;
    }
}


/* social icons */
ul {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:flex;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }
  
  ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }
  
  ul li a .fa {
    widht: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  }
  
  ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
  }
  
  ul li:nth-child(2) a:hover .fab {
    color: #00aced;
  }
  
  ul li:nth-child(3) a:hover .fab {
    color: #dd4b39;
  }
  
  ul li:nth-child(4) a:hover .fab {
    color: #007bb6;
  }
  
  ul li:nth-child(5) a:hover .fab {
    color: #e4405f;
  }